{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>

<html language = "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <title>{% block title %}{% endblock title %}</title>
    {% render_bundle 'main' 'css'%}
  </head>
  <body>
    <div class="wrapper">
      {% block content %}{% endblock content %}
    </div><!-- wrapper -->
   {% render_bundle 'main' 'js'%}
   <img src="{% static 'images/grumpy.png'%}">
  </body>
</html>