{% extends "base.html" %}

{% block title %}BestCMS | 78 CMS reviewed, Tips and Tutorials{% endblock title %}

{% block content %}

{% include "_navbar/_navbar.html" %}

<br>
This is content7

{% endblock content %}



{% comment %} <main role="main" class="container">
    <div class="starter-template">
      <h1>H1 off container</h1>
      <p class="lead">This is content.<br> Jeee! {{a}}</p>
    </div>
</main><!-- /.container --> {% endcomment %}

{% comment %} <img src="/static/grumpy.png"> {% endcomment %}
